doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 10月籃球日 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_yeallow
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_basketball
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        img.box_showpicc(src="../../images/event10/pic_sample.webp", alt="picnic")
        #container-page-sep.box_yeallow
          h3.bar_title 10月籃球日
          .note_red2 現場備有水
            br
            |報名至10/18(三)截止
          .box_eventInfo
            .info_item
              h4.title_yeallow 時間
              p 2023.10.20 (五) 14:00-17:00
              h4.title_yeallow 行程規劃
              ol.schedule
                li
                  span.title_subyeallow 14:00
                  |集合、報到
                li
                  span.title_subyeallow 14:15
                  |動態熱身
                li
                  span.title_subyeallow 14:30
                  |球感訓練
                li
                  span.title_subyeallow 15:00
                  |上籃訓練
                li
                  span.title_subyeallow 15:25
                  |Braek
                li
                  span.title_subyeallow 15:35
                  |傳接球訓練
                li
                  span.title_subyeallow 16:00
                  |投籃訓練
                li
                  span.title_subyeallow 16:20
                  |分組競賽
                li
                  span.title_subyeallow 17:00
                  |賦歸
            .info_item
                h4.title_yeallow 地點
                p 台北市信義運動中心
                  br
                  |(台北市信義區松勤街100號)
                a(href="../../images/event10/pic_map.webp", data-fancybox="gallery", data-caption="台北市信義運動中心 (台北市信義區松勤街100號)")
                  img(src="../../images/event10/pic_map.webp")
                p.txt_short ⚲點擊地圖放大瀏覽
                br
                h4.title_yeallow 注意事項
                p 請穿著運動服、籃球鞋或可以綁鞋帶的運動鞋
          hr.line_yeallow
          .box_eventInfo
            .info_item
              h4.title_yeallow 交通資訊
              br
              h5.title_subyeallow 大眾運輸
              ul
                li 信義線—台北101/世貿站 (3 號出口):沿信義路五段直行至松智路口右轉，後再左轉進松勤街，步行約為3~5分鐘。
                li 信義線—象山站 (2號出口): 沿信義路五段直行至松仁路口左轉，後再右轉進松勤街，步行約為2~3分鐘。
            .info_item.info_item-top
              h5.title_subyeallow 自行開車
              p 附近停車場包括
              ul
                li 地下停車場-三張里公園停車場
                  br
                  span.txt_short (台北市信義區松平路81號)
                li 地下停車場-信義廣場公有停車場
                  br
                  span.txt_short (台北市信義區信義路5段11號)
                li 平面停車場-Times 松勤松仁停車場
                  br
                  span.txt_short (台北市信義區松仁路148號)
          hr.line_yeallow
          .box_eventInfo
            .info_item
              img.img-w60(src="../../images/event10/pic_coach.webp")
            .info_item
              h4.title_yeallow 專長
              ul
                li 銀髮族肌力訓練
                li 術後傷後肌力重建
                li 籃球員體能訓練
              h4.title_yeallow 經歷與證照
              ul
                li Nike NTC Trainer
                li 前籃球國手
                li FISAF飛薩國際體適能指導員
                li TRX-STC懸吊訓練師
                li TRX-GTC團體懸吊訓練師
                li TRX-YOGA瑜珈懸吊訓練師
                li IHP八方系統彈力繩
                li DVRT終極沙袋變動阻力訓練師
        #flatbox
          #btn_group
            a.mybtn.btn_yeallow(href="../../feedback" title="意見回饋") 意見回饋
            a.mybtn.btn_yeallow(href="photos" title="活動相片") 活動相片
            //a.mybtn.btn_yeallow(href="signup" title="我要報名") 我要報名
            a.mybtn.btn_yeallow(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
