doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 10月籃球 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_blue
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_default
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        #container-page.box_white
          h3.bar_title-s 10月籃球
          .box_preview
            img(src="../../images/event10/pic_preview.png" alt="籃球插圖")
            p 籃球為兩隊對抗，向懸于高處的對方目標籃圈進行投準比賽的球類運動。本月將安排籃球課程，透過教練的指導，在悠閒的午後可以盡情流汗享受活力，讓同仁瞭解籃球運動的基本動作，並進行實際的對抗練習（投籃、傳接球、運球和持球突破、搶籃板球、防守等）期待和大家揮灑汗水三對三鬥牛嗎？熱情歡迎你一同來加入！
            .clean
          h4.comsoon 活動詳情 COMING SOON
        #flatbox
          #btn_group
            a.mybtn.btn_red(href="../../feedback" title="意見回饋") 意見回饋
            //a.mybtn.btn_red(href="info" title="活動介紹") 活動介紹
            a.mybtn.btn_red(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
