doctype html
html(lang="zh-Hant-TW")
  head
    include _templates/matadata.pug
    title 意見回饋 | 武星級職場
    link(rel="stylesheet" href="css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_blue
      head
        include _templates/pageTop.pug
      = '\n'
      main.bg_default
        img.bg_foot(src="images/bg_foot.svg" alt="bar_down")
        #container-page.box_white
          h3.bar_title-s 意見回饋
          iframe.form_feedback(src='https://docs.google.com/forms/d/e/1FAIpQLSdqDx8rD7F38Q8FG_gBI6TWk-QnRR0I1EJSZ6-3lpzrc2u3Wg/viewform?embedded=true', frameborder='0', marginheight='0', marginwidth='0', scrolling="no") 載入中
        #flatbox
          #btn_group
            //a.mybtn.btn_red(href="index" title="意見回饋") 意見回饋
            a.mybtn.btn_red(href="index" title="回首頁") 回首頁
            //a.mybtn.btn_red(href="index" title="我要參加") 我要參加

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
