doctype html
html(lang="zh-Hant-TW")
  head
    include _templates/matadata.pug
    title 武星級職場
    link(rel="stylesheet" href="css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_blue
      head
        include _templates/pageTop.pug
      = '\n'
      main.bg_default
        img.bg_foot(src="images/bg_foot.svg" alt="bar_down")
        #container
          #list_events
            h3 即將舉辦的活動
            ul(style="margin-bottom:50px")
              li
                a(href="events/202311/info" title="11月電影欣賞")
                  img(class="lozad" src="images/index_event-06.webp", alt="11月電影欣賞")
              li
                a(href="events/202312/info" title="12月拳擊有氧")
                  img(class="lozad" src="images/index_event-07.webp", alt="12月拳擊有氧")
              li
                a(href="events/202401/preview" title="1月桌球")
                  img(class="lozad" src="images/index_event-08.webp", alt="1月桌球")
              li
                a(href="events/202402/preview" title="2月飛輪有氧")
                  img(class="lozad" src="images/index_event-09.webp", alt="2月飛輪有氧")
              li
                a(href="events/202403/preview" title="3月羽球")
                  img(class="lozad" src="images/index_event-10.webp", alt="3月羽球")
            h3 已舉辦過的活動
            ul
              li
                a(href="events/202310/info" title="10月籃球")
                  img(class="lozad" src="images/index_event-05.webp", alt="10月籃球")
              li
                a(href="events/202309/info" title="9月武田家庭日")
                  img(class="lozad" src="images/index_event-04.webp", alt="9月武田家庭日")
              li
                a(href="events/202308/info" title="8月瑜珈/核心訓練")
                  img(class="lozad" src="images/index_event-03.webp", alt="8月瑜珈/核心訓練")
              li
                a(href="events/202307/info" title="7月羽球")
                  img(class="lozad" src="images/index_event-02.webp", alt="7月羽球")
              li
                a(href="events/202306/info" title="6月虎山健行")
                  img(class="lozad" src="images/index_event-01.webp", alt="6月虎山健行")

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
