doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 8月瑜珈&核心訓練 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_yeallow
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_yuga
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        img.box_showpicc(src="../../images/event08/pic_sample.webp", alt="yoga")
        #container-page.box_yeallow
          h3.bar_title 8月瑜珈&核心訓練
          p.note_red 現場備有瑜珈墊和水
          p.signup_end 報名至8/9截止
          .box_eventInfo
            .info_item
              h4.title_yeallow 時間
              p 2023.08.11（五）14:00-17:00
              h4.title_yeallow 行程規劃
              ol.schedule
                li
                  span.title_subyeallow 14:00
                  |集合、報到
                li
                  span.title_subyeallow 14:15
                  |暖身、呼吸練習
                li
                  span.title_subyeallow 14:25
                  |流動瑜珈
                li
                  span.title_subyeallow 15:25
                  |Break Time
                li
                  span.title_subyeallow 15:35
                  |核心啟動
                li
                  span.title_subyeallow 15:45
                  |核心訓練
                li
                  span.title_subyeallow 17:00
                  |賦歸
            .info_item
                h4.title_yeallow 地點
                p DFD蜻蜓舞蹈教室（南京館）D教室
                  br
                  |(台北市中山區復興北路154號4樓)
                a(href="../../images/event08/pic_map.webp", data-fancybox="gallery", data-caption="DFD蜻蜓舞蹈教室")
                  img(src="../../images/event08/pic_map.webp")
                p.txt_short ⚲點擊地圖放大瀏覽
          hr.line_yeallow
          .box_eventInfo
            .info_item
                h4.title_yeallow 交通資訊
                br
                h5.title_subyeallow 大眾運輸
                p 搭乘至捷運南京復興站，步行約 2 分鐘即可抵達（文湖線走 7 號出口，松山線走 8 號出口）
            .info_item
                h5.title_subyeallow 自行開車
                p 附近停車場包括
                ul
                  li 安婷停車場 (台北市遼寧街139號)
                  li CITY PARKING 城市車旅停車場
                    br
                    |(台北市南京東路三段133號之一)
                  li 台灣聯通-復興北場
                    br
                    |(台北市南京東路三段256巷11號)
          hr.line_yeallow
          .box_eventInfo
            .info_item
              img.img-w60(src="../../images/event08/pic_coach.webp")
              h4.title_yeallow 經歷
              p 具12年豐富資歷
              ul
                li NIKE 專屬教練
                li NTC訓練師、TRX STC國際講師
                li 藝人專屬體能訓練師
            .info_item
              h4.title_yeallow 專業證照
              ul
                li FISAF FII 國際有氧體適能聯盟個人運動訓練師
                li Nike Training Club 課程認證訓練師
                li TRX Sports Medicine 運動醫學懸吊訓練師
                li NSPA Certified Conditioning Specialist
                li 美國NSPA體能訓練專家證
                li VIPER Fitness 課程認證訓練師
                li Trigger Point Performance Therapy
                li YOGAFIT TAIWAN 國際瑜伽師資認證
        #flatbox
          #btn_group
            a.mybtn.btn_yeallow(href="../../feedback" title="意見回饋") 意見回饋
            a.mybtn.btn_yeallow(href="#" title="報名已截止") 報名已截止
            a.mybtn.btn_yeallow(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
