doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 12月拳擊有氧 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_yeallow
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_boxing
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        img.box_showpicc(src="../../images/event12/pic_sample.webp", alt="picnic")
        #container-page-sep.box_yeallow-dec
          h3.bar_title 12月拳擊有氧
          .note_red2 現場備有水
            br
            |報名至12/13(三)截止
          .box_eventInfo
            .info_item
              h4.title_yeallow 時間
              p 2023.12.15 (五) 14:00-17:00
              h4.title_yeallow 行程規劃
              ol.schedule
                li
                  span.title_subyeallow 14:00
                  |集合、報到
                li
                  span.title_subyeallow 14:15
                  |熱身
                li
                  span.title_subyeallow 14:30
                  |拳擊有氧基本動作與訓練
                li
                  span.title_subyeallow 15:20
                  |中場休息
                li
                  span.title_subyeallow 15:30
                  |核心訓練啟動
                li
                  span.title_subyeallow 15:50
                  |下肢與上肢肌力訓練
                li
                  span.title_subyeallow 17:00
                  |賦歸
            .info_item
                h4.title_yeallow 地點
                p A space 火星+金星教室
                  br
                  |(台北市信義區永吉路168號B1)
                a(href="../../images/event12/pic_map.webp", data-fancybox="gallery", data-caption="A space 火星+金星教室 (台北市信義區永吉路168號B1)")
                  img(src="../../images/event12/pic_map.webp")
                p.txt_short ⚲點擊地圖放大瀏覽
          hr.line_yeallow
          .box_eventInfo
            .info_item
              h4.title_yeallow 交通資訊
              br
              h5.title_subyeallow 大眾運輸
              ul
                li 板南線—市政府站 (4號出口)，步行約10分鐘：沿忠孝東路五段71巷直行至松隆路右轉，直行至永吉路150巷右轉。
            .info_item.info_item-top
              h5.title_subyeallow 自行開車
              p 附近停車場包括
              ul
                li 平面停車場-宜舍停車場永吉120(一)
                  br
                  span.txt_short (台北市信義區永吉路30巷157弄)
                li 平面停車場-僑聯信義-宇岳停車場
                  br
                  span.txt_short (台北市信義區永吉路363號)
          hr.line_yeallow
          .box_eventInfo
            .info_item
              img.img-w60(src="../../images/event12/pic_coach.webp")
            .info_item
              h4.title_yeallow 專長
              ul
                li 肌力訓練
                li 拳擊有氧
                li 矯正訓練
              h4.title_yeallow 經歷與證照
              ul
                li 台泥企業 拳擊有氧老師
                li 原名台節目 lsa lsa 動次動特約教練
                li 文山區健康服務中心銀髮族體適能講師
                li NSCA-CSCS美國肌力體能協會 肌力體能專家
                li NASM-CES美國國家運動醫學會 矯正訓練專家
                li NKT L1神經動能療法
                li 3Dmaps 動態分析及表現系統認證
                li HPFA-KBC中華民國體適能協會 拳擊有氧教練
        #flatbox
          #btn_group
            a.mybtn.btn_yeallow(href="../../feedback" title="意見回饋") 意見回饋
            a.mybtn.btn_yeallow(href="photos" title="活動相片") 活動相片
            //a.mybtn.btn_yeallow(href="signup" title="我要報名") 我要報名
            a.mybtn.btn_yeallow(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
