doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 11月電影欣賞 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_pinkred
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_movie
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        img.box_showpicc(src="../../images/event11/pic_sample.webp", alt="movie")
        #container-page-sep.box_pinkred
          h3.bar_title-s 11月電影欣賞
          #box_gallery.photo_pinkred
            //h3 即將上架，敬請期待。
            a(href="../../images/event11/album_01.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event11/album_01-s.jpg" alt="活動花絮")
            a(href="../../images/event11/album_05.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event11/album_05.jpg" alt="活動花絮")
            //a(href="../../images/event11/album_02.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event11/album_01-s.jpg" alt="活動花絮")
            a(href="../../images/event11/album_03.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event11/album_03.jpg" alt="活動花絮")
            a(href="../../images/event11/album_04.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event11/album_04.jpg" alt="活動花絮")
            
        #flatbox
          #btn_group
            a.mybtn.btn_pinkred(href="../../feedback" title="意見回饋") 意見回饋
            a.mybtn.btn_pinkred(href="info" title="活動介紹") 活動介紹
            a.mybtn.btn_pinkred(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
