doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 1月桌球 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_yeallow
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_tabletennis
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        img.box_showpicc(src="../../images/event01/pic_sample.webp", alt="picnic")
        #container-page-sep.box_yeallow-dec
          h3.bar_title 1月桌球
          .note_red2 現場備有水
            br
            |報名至1/17(三)截止
          .box_eventInfo
            .info_item
              h4.title_yeallow 時間
              p 2024.1.19 (五) 14:00-17:00
              h4.title_yeallow 行程規劃
              ol.schedule
                li
                  span.title_subyeallow 14:00
                  |集合、報到
                li
                  span.title_subyeallow 14:15
                  |熱身
                li
                  span.title_subyeallow 14:30
                  |正反手動作教學
                li
                  span.title_subyeallow 15:15
                  |多球訓練
                li
                  span.title_subyeallow 16:00
                  |對打規則和分組競賽
                li
                  span.title_subyeallow 17:00
                  |賦歸
            .info_item
                h4.title_yeallow 地點
                p 小王子桌球教室
                  br
                  |(台北市信義區永吉路179號2樓)
                a(href="../../images/event01/pic_map.webp", data-fancybox="gallery", data-caption="小王子桌球教室 (台北市信義區永吉路179號2樓)")
                  img(src="../../images/event01/pic_map.webp")
                p.txt_short ⚲點擊地圖放大瀏覽
          hr.line_yeallow
          .box_eventInfo
            .info_item
              h4.title_yeallow 交通資訊
              br
              h5.title_subyeallow 大眾運輸
              ul
                li 板南線—市政府站 (4號出口)，步行約15分鐘:沿忠孝東路五段71巷直行至松隆路右轉永吉路，直行至179號。
            .info_item.info_item-top
              h5.title_subyeallow 自行開車
              p 附近停車場包括
              ul
                li 地下停車場-雅祥公園地下停車場
                  br
                  span.txt_short (台北市信義區松隆路123巷7號B1)
                li 平面停車場-僑聯信義-宇岳停車場
                  br
                  span.txt_short (台北市信義區永吉路363號)
          hr.line_yeallow
          .box_eventInfo
            .info_item
              img.img-w60(src="../../images/event01/pic_coach1.webp")
            .info_item.info_paddingtop
              h4.title_yeallow 經歷與證照
              ul
                li 中港高中教練
                li 清水高中教練
                li 19歲青少國手個練教練
              h4.title_yeallow 專長
              ul
                li 競技桌球專業訓練
                li 體適能訓練
          .box_eventInfo
            .info_item
              img.img-w60(src="../../images/event01/pic_coach2.webp")
            .info_item.info_paddingtop
              h4.title_yeallow 經歷與證照
              ul
                li 貝克漢PFT個人健身教練
                li 內湖國小桌球隊教練
                li 美國體適能協會AFAA
                li WT國際重量訓練指導員證照
                li 桌球C級教練證
              h4.title_yeallow 專長
              ul
                li 樂齡桌球教學
                li 選手肌力訓練
                li 動作輔助矯正
        #flatbox
          #btn_group
            a.mybtn.btn_yeallow(href="../../feedback" title="意見回饋") 意見回饋
            //a.mybtn.btn_yeallow(href="photos" title="活動相片") 活動相片
            a.mybtn.btn_yeallow(href="signup" title="我要報名") 我要報名
            a.mybtn.btn_yeallow(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
