doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 6月虎山健行 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_blue
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_mountain
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        #container-page.box_blue
          h3.bar_title 6月虎山健行
          #box_gallery
            a(href="../../images/event06/album_01.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(src="../../images/event06/album_01.jpg" alt="活動花絮")
            a(href="../../images/event06/album_02.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(src="../../images/event06/album_02.jpg" alt="活動花絮")
            a(href="../../images/event06/album_03.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(src="../../images/event06/album_03.jpg" alt="活動花絮")
            a(href="../../images/event06/album_04.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(src="../../images/event06/album_04.jpg" alt="活動花絮")
        #flatbox
          #btn_group
            a.mybtn.btn_blue(href="../../feedback" title="意見回饋") 意見回饋
            a.mybtn.btn_blue(href="info" title="活動介紹") 活動介紹
            a.mybtn.btn_blue(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
