doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 9月武田家庭日 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_pinkred
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_picnic
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        img.box_showpicc(src="../../images/event09/pic_sample.webp", alt="picnic")
        #container-page-sep.box_pinkred
          h3.bar_title 9月武田家庭日
          .box_eventInfo
            .info_item
              h4.title_pinkred 時間
              p 2023.09.16 (六) 16:00-20:10
              h4.title_pinkred 行程規劃
              ol.schedule
                li
                  span.time_subpinkred 16:00
                  |報到
                li
                  span.time_subpinkred 16:30
                  |開場表演
                li
                  span.time_subpinkred 16:40
                  |長官致詞
                li
                  span.time_subpinkred 16:55
                  |樂團表演
                li
                  span.time_subpinkred 17:15
                  |YOYO活力唱跳show
                li
                  span.time_subpinkred 17:45
                  |音樂欣賞
                li
                  span.time_subpinkred 18:30
                  |電影欣賞-元素方城市
                  span.txt_short2 (或超級瑪利歐兄弟電影版)
            .info_item
                h4.title_pinkred 地點
                p 玫瑰古蹟:蔡瑞月舞蹈研究社
                  br
                  |(台北市中山區中山北路二段48巷10號)
                h4.title_pinkred Dress code
                p 請穿著白色或米白色系服裝
                img(class="lozad" src="../../images/event09/pic_white.webp")
          hr.line_pinkred
          .box_eventInfo
            .info_item-one
              h4.title_pinkred 手作攤位
            .info_item-one
              .info_subitem
                h5
                span.time_subpinkred DIY絹印體驗
                span.title_brake 動手製作自己的帆布袋
                img(class="lozad" src="../../images/event09/pic_play-01.webp")
              .info_subitem
                h5
                span.time_subpinkred 人體特色彩繪
                span.title_brake 繽紛又有趣的人體彩繪
                img(class="lozad" src="../../images/event09/pic_play-02.webp")
            .info_item-one
              h4.title_pinkred 餐車美食趴
              p 現場準備豐富又美味的餐車點心，現點現做超好吃!就等你來
              img(class="lozad" src="../../images/event09/pic_play-03.webp")
              h4.title_pinkred 戶外遊樂場
              p 超級好玩的遊樂場，讓你大展身手、挑戰極限
              img(class="lozad" src="../../images/event09/pic_play-04.webp")
          hr.line_pinkred
          .box_eventInfo
            .info_item-one
              h4.title_pinkred 注意事項
              ol
                li 每位員工可以攜帶2位家人或朋友參加。
                li 如果所需要攜帶的家人或朋友超過2位，可跟其他同事協調，另於
                  a(href="signup" title="我要報名") 報名表
                  |上回覆。
                li 員工可依照 T&E policy 申報交通費用。
                li 現場備有餐點、餐車美食，歡迎大家帶喜愛的點心一起加入喔。
                li 如果有任何問題 請與 HR Naya Huang 聯絡
                  a.txt_short(href="mailto:naya.huang@takeda.com" title="前往意見回饋") (Naya.Huang@takeda.com)
              p(style="font-weight:700;color: #c62253; padding-top:20px") 報名截止時間:9/8(五) 18:00止
          hr.line_pinkred
          .box_eventInfo
            .info_item
              h4.title_pinkred 交通資訊
              br
              h5.title_subpinkred 大眾運輸
              p 搭乘至捷運雙連站，於1號出口出站，步行即可抵達
                span.txt_short (約5mins)
              h5.title_subpinkred 自行開車
              p 車輛可停放於周邊停車場
              ul
                li NPD中山新光大樓停車場
                  br
                  span.txt_short (台北市中山區中山北路二段44巷1號B2)
                li 台壽金融總部大樓停車場
                  br
                  span.txt_short (台北市中山區中山北路二段42號B3-B4)
                li 中山運動中心地下停車場
                  br
                  span.txt_short (台北市中山區中山北路二段42巷7號)
                li NaviPark停車場
                  br
                  span.txt_short (台北市中山區中山北路二段44巷，運動中心正前方)
            .info_item
              a(href="../../images/event09/pic_map.webp", data-fancybox="gallery", data-caption="玫瑰古蹟:蔡瑞月舞蹈研究社")
                img(src="../../images/event09/pic_map.webp")
              p.txt_short ⚲點擊地圖放大瀏覽
        #flatbox
          #btn_group
            a.mybtn.btn_pinkred(href="../../feedback" title="意見回饋") 意見回饋
            a.mybtn.btn_pinkred(href="signup" title="我要報名") 我要報名
            a.mybtn.btn_pinkred(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
