doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 9月武田家庭日 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_pinkred
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_picnic
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        #container-page-sep.box_pinkred
          h3.bar_title 9月武田家庭日
          #box_gallery.photo_pinkred
            a(href="../../images/event09/album_01.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_01.jpg" alt="活動花絮")
            a(href="../../images/event09/album_02.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_02.jpg" alt="活動花絮")
            a(href="../../images/event09/album_03.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_03.jpg" alt="活動花絮")
            a(href="../../images/event09/album_04.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_04.jpg" alt="活動花絮")
            a(href="../../images/event09/album_05.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_05.jpg" alt="活動花絮")
            a(href="../../images/event09/album_06.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_06.jpg" alt="活動花絮")
            a(href="../../images/event09/album_07.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_07.jpg" alt="活動花絮")
            a(href="../../images/event09/album_08.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_08.jpg" alt="活動花絮")
            a(href="../../images/event09/album_09.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_09.jpg" alt="活動花絮")
            a(href="../../images/event09/album_10.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_10.jpg" alt="活動花絮")
            a(href="../../images/event09/album_11.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_11.jpg" alt="活動花絮")
            a(href="../../images/event09/album_12.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_12.jpg" alt="活動花絮")
            a(href="../../images/event09/album_13.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_13.jpg" alt="活動花絮")
            a(href="../../images/event09/album_14.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_14.jpg" alt="活動花絮")
            a(href="../../images/event09/album_15.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_15.jpg" alt="活動花絮")
            a(href="../../images/event09/album_16.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_16.jpg" alt="活動花絮")
            a(href="../../images/event09/album_17.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_17.jpg" alt="活動花絮")
            a(href="../../images/event09/album_18.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_18.jpg" alt="活動花絮")
            a(href="../../images/event09/album_19.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_19.jpg" alt="活動花絮")
            a(href="../../images/event09/album_20.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_20.jpg" alt="活動花絮")
            a(href="../../images/event09/album_21.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_21.jpg" alt="活動花絮")
            a(href="../../images/event09/album_22.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_22.jpg" alt="活動花絮")
            a(href="../../images/event09/album_23.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_23.jpg" alt="活動花絮")
            a(href="../../images/event09/album_24.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_24.jpg" alt="活動花絮")
            a(href="../../images/event09/album_25.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_25.jpg" alt="活動花絮")
            a(href="../../images/event09/album_26.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_26.jpg" alt="活動花絮")
            a(href="../../images/event09/album_27.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_27.jpg" alt="活動花絮")
            a(href="../../images/event09/album_28.jpg", data-fancybox="gallery", data-caption="活動花絮")
              img(class="lozad" src="../../images/event09/album_28.jpg" alt="活動花絮")
        #flatbox
          #btn_group
            a.mybtn.btn_pinkred(href="../../feedback" title="意見回饋") 意見回饋
            a.mybtn.btn_pinkred(href="info" title="活動介紹") 活動介紹
            a.mybtn.btn_pinkred(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
