doctype html
html(lang="zh-Hant-TW")
  head
    include ../../_templates/matadata-page.pug
    title 9月武田家庭日 | 武星級職場
    link(rel="stylesheet" href="../../css/xueMain.css")
  = '\n'

  body
    iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TVPWDJTD', height='0', width='0', style='display:none;visibility:hidden')
    = '\n'
    #wrap.bg_blue
      head
        include ../../_templates/pageTop-page.pug
      = '\n'
      main.bg_default
        img.bg_foot(src="../../images/bg_foot.svg" alt="bar_down")
        #container-page.box_white
          h3.bar_title-s 9月武田家庭日
          .box_preview
            img(src="../../images/event09/pic_preview.png" alt="野餐插圖")
            p 本月將舉辦適合闔家參與的「白色野餐家庭日」，在晴空萬里的午後彙集餐車美食、野餐饗宴、熱門闖關活動、特色DIY手作，以及最 Chill的舞台表演，更重要的也將安排難得可見的露天電影院，邀所有武田夥伴與家人們牽手來到白色野餐的夏日派對！武田野餐家庭日將是你今年盛夏最不能錯過的一場活動！邀請家人一起到草地上躺下吧，讓一張野餐墊成為一場難忘的美夢！
            .clean
          h4.comsoon 活動詳情 COMING SOON
        #flatbox
          #btn_group
            a.mybtn.btn_red(href="../../feedback" title="意見回饋") 意見回饋
            //a.mybtn.btn_red(href="info" title="活動介紹") 活動介紹
            a.mybtn.btn_red(href="../../index" title="回首頁") 回首頁

    = '\n'
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery-migrate/dist/jquery-migrate.min.js")
    script(src="https://cdn.jsdelivr.net/npm/loadjs/dist/loadjs.umd.min.js")
    script(src="../../scripts/script.js")
    script(src='https://instant.page/5.2.0', type='module', integrity='sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z')
