@charset "utf-8";
/*-- Created By
   ##############               ###############
    ##############             ###############
    ##############             ##############
     ##############           ##############
      ##############          #############
       #############         ##############
        #############       ##############
        ##############      #############
         ###############################
         ###############################
        #################################
        ##############     ##############
       ##############       ##############
       ##############        ##############
      ##############         #######
     ###############          ##############
     ##############           ###############
    ######
    ##############              ##############
   ##############               ##############

                 xuedesign studio
             https://www.xuedesign.tw/
*
* @project    Takeda Wellbeing website
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2023 xuedesign studio
* @version    v202309
*
**/

/*
=====================================
引入外部文件
=====================================
*/
@import 'reset';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");


/*
=====================================s
通用設定
=====================================
*/
html{
  height: 100%;
  margin: 0;
  font-size:62.5%;
  scroll-behavior: smooth
}
body{
  height: 100%;
  margin: 0;
	padding:0;
  background: #D9D9D9;
  /* background-attachment: fixed; */
  font-family:"Noto Sans TC", "Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 1rem; /* 1rem=10px */
  font-weight: 400;
  color:#3A4F5F
}
form{ margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ visibility:hidden;}
.minHeight{ min-height:800px}
.text-strong{ 
  font-weight:700;
  padding-top: 30px;
}
.text_pinkred{color: #c62253}

/*頁面反白設定*/
::selection { background: #ec1d23; color: #EFDFC5}
::-moz-selection { background: #ec1d23; color: #EFDFC5}
img::selection { background: transparent}
img::-moz-selection { background: transparent}

/*
=====================================
變數
=====================================
*/
%box_default{
  display: block;
  width: 100%;
  /* eight: 100%; */
}
%bgPic{
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
%boder_color{
  display: block;
  border: 8px solid;
}
/* $nav-link: #2E3234;
$nav-hover: #f50; */

/*
=====================================
網頁主結構
=====================================
*/
#wrap{
  @extend %box_default;
}
/*頁面底色*/
.bg_blue{
  background: linear-gradient(to bottom, #fff, #8dd7f7);
}
.bg_yeallow{
  background: linear-gradient(to bottom, #fffefc, #fefac4);
}
.bg_green{
  background: linear-gradient(to bottom, #fffefc, #bfe5d5);
}
.bg_pinkred{
  background: linear-gradient(to bottom, #fffefc, #f2b9ad);
}

/*畫面插圖*/
.bg_default{
  background: url(../images/bg_defaults.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_yuga{
  background: url(../images/event08/bg_yuga.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_mountain{
  background: url(../images/event06/bg_mountain.png) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_badminton{
  background: url(../images/event07/bg_badminton.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_picnic{
  background: url(../images/event09/bg_picnic.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_basketball{
  background: url(../images/event10/bg_basketball.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_movie{
  background: url(../images/event11/bg_movie.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_boxing{
  background: url(../images/event12/bg_boxing.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}
.bg_tabletennis{
  background: url(../images/event01/bg_tabletennis.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}



/*
=====================================
頁首
=====================================
*/
head{
  display: block;
  position: relative;
  width: 100%;
  max-height: 327px;
}
head img{
  display: block;
  width: 100%;
  height: auto
}
h1 a{
  @extend %bgPic;
  display: block;
  position: absolute;
  top:13%;
  left: 5%;
  width: 500px;
  height: 180px;
  background-image: url(../images/logo_type.svg);
  cursor: pointer;
}
h2{
  @extend %bgPic;
  display: block;
  position: absolute;
  top:15%;
  left: 10%;
  width: 120px;
  height: 41px;
  background-image: url(../images/logo_takeda.svg);
}

/*
=====================================
中間主要內容
=====================================
*/
main{
  display: block;
  position: relative;
  width: 100%;
}
.bg_foot{
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: auto;
}
#container{
  display: block;
  width: 80%;
  /* min-height:2000px; */
  margin: 80px auto;
  padding-bottom: 600px;
}
#container-page,
#container-page-sep{
  display: block;
  position: relative;
  width: 80%;
  /* min-height:1500px; */
  margin: 80px auto 90px;
  padding-top: 60px;
}
#container-page{ padding-bottom: 600px;}
#container-page-sep{ padding-bottom: 1200px;}

.bar_title,
.bar_title-s{
  display: block;
  position: absolute;
  top:-19px;
  left: 30px;
  font-size: 4rem;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 15px;
}
.bar_title{
  width: 500px;
  height: 62px;
  background: url(../images/bar_title.png)no-repeat;
  background-size: contain;
}
.bar_title-s{
  width: 395px;
  height: 62px;
  background: url(../images/bar_title-s.png)no-repeat;
  background-size: contain;
}
.box_white{
  @extend %boder_color;
  border-image: linear-gradient(to bottom, #fff, transparent 70%);
  border-image-slice: 1;
  background: linear-gradient(to bottom, #ceeeff, transparent 70%);
}
.box_yeallow{
  @extend %boder_color;
  border-image: linear-gradient(to bottom, #f9da72, transparent 70%);
  border-image-slice: 1;
  background: linear-gradient(to bottom, #fffef7, transparent 30%);
}
.box_yeallow-dec{
  @extend %boder_color;
  border-image: linear-gradient(to bottom, #f9da72, transparent 70%);
  border-image-slice: 1;
  /* background: linear-gradient(to bottom, #fffef7, rgba(241, 241, 200, .1) 70%); */
}
.box_blue{
  @extend %boder_color;
  border-image: linear-gradient(to bottom, #fff, transparent 70%);
  border-image-slice: 1;
  background: linear-gradient(to bottom, #c5e9fa, transparent 70%);
}
.box_green{
  @extend %boder_color;
  border-image: linear-gradient(to bottom, #9dd6bf, transparent 70%);
  border-image-slice: 1;
  background: linear-gradient(to bottom, #ebf7f2, transparent 70%);
}
.box_pinkred{
  @extend %boder_color;
  border-image: linear-gradient(to bottom, #d66783, transparent 80%);
  border-image-slice: 1;
  background: linear-gradient(to bottom, #fef9f6, transparent 80%);
  padding-bottom: 1500px;
}

/*
=====================================
按鈕設定
=====================================
*/
#flatbox{
  display: none;
  position: fixed;
  bottom: 50px;
  z-index: 100;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#flatbox.fade-in {
  display: block;
  opacity: 1;
}
#btn_group{
  display: block;
  width: 40%;
  margin: 0 auto;
  background: rgba(211, 211, 211, 0.5);
  padding: 10px 20px;
  border-radius:30px
}
.mybtn{
  display: inline-block;
  width: 150px;
  height: 50px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  margin: 0 20px;
  padding-right: 20px;
  transition: transform 0.5s;
}
a.mybtn:hover{
  transform: scale(1.1)
}
.btn_red{
  background: url(../images/btn_red.svg) no-repeat;
  background-size: contain;
}
.btn_yeallow{
  background: url(../images/btn_yeallow.svg) no-repeat;
  background-size: contain;
  color: #3A4F5F;
}
.btn_blue{
  background: url(../images/btn_blue.svg) no-repeat;
  background-size: contain;
}
.btn_green{
  background: url(../images/btn_green.svg) no-repeat;
  background-size: contain;
}
.btn_pinkred{
  background: url(../images/btn_pinkred.svg) no-repeat;
  background-size: contain;
}


/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #c7bdb7;
  border: 0px none #fff;
  border-radius: 60px}
::-webkit-scrollbar-thumb:hover {
  background: #c7bdb7}
::-webkit-scrollbar-track {
  background: #35251a;
  border: 0px none #fff;
  border-radius: 0}

/*
=====================================s
頁面設定+RWD
=====================================
*/
@import 'xuePages';
@import 'xueRwd';
