@charset "utf-8";
/*-- Created By
   ##############               ###############
    ##############             ###############
    ##############             ##############
     ##############           ##############
      ##############          #############
       #############         ##############
        #############       ##############
        ##############      #############
         ###############################
         ###############################
        #################################
        ##############     ##############
       ##############       ##############
       ##############        ##############
      ##############         #######
     ###############          ##############
     ##############           ###############
    ######
    ##############              ##############
   ##############               ##############

                 xuedesign studio
             https://www.xuedesign.tw/
*
* @project    Takeda Wellbeing
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2023 xuedesign studio
* @version    v202307
*
**/

/*
=====================================
引入外部文件
=====================================
*/
@import 'reset';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap");


/*
=====================================s
通用設定
=====================================
*/
html{
  height: 100%;
  margin: 0;
  font-size:62.5%;
  scroll-behavior: smooth
}
body{
  height: 100%;
  margin: 0;
	padding:0;
  background: #D9D9D9;
  /* background-attachment: fixed; */
  font-family:"Noto Sans TC", "Microsoft JhengHei","PingFangTC-Regular", "Arial", "Helvetica", sans-serif;
  font-size: 1rem; /* 1rem=10px */
  font-weight: 400;
  color:#3A4F5F
}
form{ margin:0; padding:0}
image{border:0}
.clean{ clear:both}
.hidden{ visibility:hidden;}


/*頁面反白設定*/
::selection { background: #ec1d23; color: #EFDFC5}
::-moz-selection { background: #ec1d23; color: #EFDFC5}
img::selection { background: transparent}
img::-moz-selection { background: transparent}

/*
=====================================
變數
=====================================
*/
%box_default{
  display: block;
  width: 100%;
  /* eight: 100%; */
}

%bgPic{
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* $nav-link: #2E3234;
$nav-hover: #f50; */

/*
=====================================
網頁主結構
=====================================
*/
#wrap{
  @extend %box_default;
}
/*頁面底色*/
.bg_blue{
  background: linear-gradient(to bottom, #fff, #8dd7f7);
}
/*畫面插圖*/
.bg_default{
  background: url(../images/bg_defaults.webp) no-repeat;
  background-size: contain;
  background-position: bottom;
}


/*
=====================================
頁首
=====================================
*/
head{
  display: block;
  position: relative;
  width: 100%;
  max-height: 327px;
}
head img{
  display: block;
  width: 100%;
  height: auto
}
h1 a{
  @extend %bgPic;
  display: block;
  position: absolute;
  top:13%;
  left: 5%;
  width: 500px;
  height: 180px;
  background-image: url(../images/logo_type.svg);
  cursor: pointer;
}
h2{
  @extend %bgPic;
  display: block;
  position: absolute;
  top:15%;
  left: 10%;
  width: 120px;
  height: 41px;
  background-image: url(../images/logo_takeda.svg);
}

/*
=====================================
中間主要內容
=====================================
*/
main{
  display: block;
  position: relative;
  width: 100%;
}
.bg_foot{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
#container{
  display: block;
  width: 80%;
  /* min-height:5000px; */
  margin: 90px auto;
  padding-bottom: 600px;
}

/*
=====================================
按鈕設定
=====================================
*/
.mybtn{
    font-weight: 500;
    line-height: 2.2rem;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border:1px solid #BAA4A4
}
.mybtn{
  display: block;
  padding: 8px 5px;
  font-size: 1.8rem
}


/*
=====================================
自訂scrollbar
=====================================
*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px}
::-webkit-scrollbar-button {
  width: 0;
  height: 0}
::-webkit-scrollbar-thumb {
  background: #c7bdb7;
  border: 0px none #fff;
  border-radius: 60px}
::-webkit-scrollbar-thumb:hover {
  background: #c7bdb7}
::-webkit-scrollbar-track {
  background: #35251a;
  border: 0px none #fff;
  border-radius: 0}

/*
=====================================s
頁面設定+RWD
=====================================
*/
@import 'xuePages';
@import 'xueRwd';
