@charset "utf-8";
/*-- Created By
   ##############               ###############
    ##############             ###############
    ##############             ##############
     ##############           ##############
      ##############          #############
       #############         ##############
        #############       ##############
        ##############      #############
         ###############################
         ###############################
        #################################
        ##############     ##############
       ##############       ##############
       ##############        ##############
      ##############         #######
     ###############          ##############
     ##############           ###############
    ######
    ##############              ##############
   ##############               ##############

                 xuedesign studio
             https://www.xuedesign.tw/
*
* @project    Takeda Wellbeing website
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2023 xuedesign studio
* @version    v202309
*
**/

/*
=====================================
首頁列表
=====================================
*/
#list_events h3{
    display: inline-block;
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 1px;
    background-color:#ec1b23;
    color: #fff;
    margin-bottom: 50px;
    padding: 10px 30px;
    border-radius:30px;
}
#list_events ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}
#list_events li{
    display:block;
    margin: 0 1% 5%;
}
#list_events img{
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
    transition: transform 0.5s;
}
#list_events a:hover>img{
    transform: scale(1.1);
}
/*
=====================================
活動預告
=====================================
*/
.box_preview{
    display: block;
    width:90%;
    margin: 50px auto 0;
    /* border: 1px solid #111 */
}
.box_preview img{
    display: inline-block;
    float: right;
    margin: 0 0 20px 80px;
}
.box_preview p{
    padding-top: 30px;
    font-size: 2.5rem;
    line-height: 4.5rem;
    text-align: justify;
}
.comsoon{
    display: block;
    width: 30%;
    margin: 50px auto;
    padding: 5px 20px;
    border-radius:50px;
    font-size: 3rem;
    color: #fff;
    text-align: center;
    background:#979797
}
/*
=====================================
活動介紹
=====================================
*/
.box_showpicc{
    display: block;
    width: 70%;
    height: auto;
    margin: 30px auto;
}
.box_eventInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    /* min-height:500px;
    border: 2px solid #111; */
    margin: 0 auto;
    padding: 20px 0 50px;
}
.info_item{
    display: block;
    width: 49%;
    color: #343433;
}
.info_item-one{
    display: block;
    width: 100%;
    color: #343433;
}
.info_item-top{
    padding-top: 100px;
}
.info_item-top-130{
    padding-top: 130px;
}
.info_item p{
    text-align: justify;
    /* padding-bottom: 20px; */
}
.info_paddingtop{
    padding-top:100px
}
.info_subitem{
    display: inline-block;
    width: 49%;
    color: #343433;
    padding: 0 20px;
    font-size: 2.5rem;
    font-weight:700
}
.box_eventInfo h4,
.box_eventInfo-one h4{
    display: inline-block;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: 2px;
    margin: 20px 0;
}
.box_eventInfo p,
.box_eventInfo li,
.box_eventInfo-one p,
.box_eventInfo-one li{
    font-weight: 400;
    font-size:3rem;
    line-height:4.5rem;
}
.box_eventInfo p{
    padding-left: 20px;
}
.box_eventInfo ul,
.box_eventInfo ol{
    /* margin-top: 20px; */
    padding-left: 60px;
}
.box_eventInfo ol li,
.box_eventInfo-one ol li{
    padding-bottom: 10px;
    list-style:decimal;
}
.box_eventInfo ul li,
.box_eventInfo-one ul li{
    padding-bottom: 10px;
    list-style: disc;
}
.box_eventInfo ol.schedule{
    padding-left: 20px;
}
.box_eventInfo .schedule li{
    list-style: none;
}
.box_eventInfo li span,
.box_eventInfo h5{
    display: inline-block;
    font-weight:700;
    font-size: 2.5rem;
}
.box_eventInfo h5{
    margin: 20px 0;
}
.box_eventInfo img{
    display: block;
    width: 90%;
    height: auto;
    margin: 30px auto 20px auto;
}
.box_eventInfo span.txt_short,
.box_eventInfo .txt_short3,
.box_eventInfo span.txt_short4{
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
}
.box_eventInfo .txt_short3{
    margin-left: 20px;
}
.box_eventInfo .txt_short2{
    display: block;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: left;
    margin-left: 145px;
}
.img-w90{
    width: 90%;
}
.img-w60{
    width: 60%;
}
.photos_item{
    display: block;
    width: 100%;
    padding: 50px 0 300px;
    /* border: 1px solid #111; */
}
.photos_item img{
    display: inline-block;
    width: 43%;
    height: auto;
    margin: 0 3% 50px 3%;
    vertical-align: top;
}
#box_gallery,
#box_gallery2{
    display: block;
    width: 90%;
    min-height:500px;
    margin: 30px auto 0 auto;
    padding: 0;
}
#box_gallery img,
#box_gallery2 img{
    display: inline-block;
    vertical-align: top;
    border: 5px solid;
    border-radius: 30px;
}
#box_gallery img{
    width: 43%;
    height: auto;
    margin: 0 3% 50px 3%;
}
#box_gallery2 img{
    width: 100%;
    height: auto;
    margin: 0 0 50px 0;
}
#box_gallery.photo_blue img{
    border-color: #37a4c4;
}
#box_gallery.photo_green img{
    border-color: #227637;
}
#box_gallery.photo_yeallow img{
    border-color: #f9da73;
}
#box_gallery.photo_pinkred img,
#box_gallery2.photo_pinkred img{
    border-color: #d66783;
}
#box_gallery h3{
    font-size:4rem;
    text-align: center;
}

.note_red{
    display: inline-block;
    float: right;
    margin:50px 30px 0 0;
    padding: 8px 0;
    border-radius: 30px;
    width: 300px;
    text-align: center;
    font-size:2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: red;
    color: #fff
}
.note_red2{
    display: block;
    position: absolute;
    top:30px;
    right: 50px;
    padding: 8px 0;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    font-size:2.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: red;
    color: #fff
}
.signup_end{
    display: inline-block;
    float: right;
    margin:110px -230px 0 0;
    font-size:2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #343433;
}
.title_yeallow{
    background: #f7cb2d;
    border-radius: 30px;
    padding: 10px 20px;
}
.title_subyeallow{
    background: #f8cb8a;
    border-radius: 30px;
    padding: 5px 20px;
    margin-right: 15px;
}
hr.line_yeallow{
    border:3px dashed #f7cb2d;
    width: 90%;
    margin: 40px auto 0 auto;
}
.title_blue{
    color: #fff;
    background: #2771bb;
    border-radius: 30px;
    padding: 10px 20px;
}
.title_subblue{
    color: #fff;
    background: #37a4c4;
    border-radius: 30px;
    padding: 5px 20px;
    margin-right: 15px;
}
hr.line_blue{
    border:3px dashed #2771bb;
    width: 90%;
    margin: 40px auto 0 auto;
}
.title_green{
    color: #fff;
    background: #4b9063;
    border-radius: 30px;
    padding: 10px 20px;
}
.title_subgreen{
    color: #fff;
    background: #86b04c;
    border-radius: 30px;
    padding: 5px 20px;
    margin-right: 15px;
}
hr.line_green{
    border:3px dashed #4b9063;
    width: 90%;
    margin: 40px auto 0 auto;
}
.title_pinkred{
    color: #fff;
    background: #c62253;
    border-radius: 30px;
    padding: 10px 20px;
}
.title_subpinkred{
    color: #343433;
    background: #f2b9ae;
    border-radius: 30px;
    padding: 5px 20px;
    margin-right: 15px;
}
.time_subpinkred{
    color: #343433;
    background: #f2b9ae;
    border-radius: 30px;
    padding: 0 30px;
    margin: 0 15px 10px 0;
}
hr.line_pinkred{
    border:3px dashed #c62253;
    width: 90%;
    margin: 40px auto 0 auto;
}
/*
=====================================
表單設定
=====================================
*/
main.xpWfed{
    display: none;
}
.form_feedback,
.form_AugYoga,
.form_SepPicnic,
.form_OctBasketball,
.form_movie{
    display: block;
    width: 80%;
    padding-top: 50px;
    /* border:1px solid #111; */
    margin: 0 auto;
}
.form_feedback{
    height: 1454px;
}
.form_AugYoga{
    height: 1130px;
    margin-bottom: 250px;
}
.form_SepPicnic{
    height: 1800px;
    margin-bottom: 450px;
}
.form_OctBasketball{
    height: 1080px;
}
.form_movie{
    height:980px;
}
/*
=====================================
預約功能設定
=====================================
*/
#powered_by_prefooter,
#powered_by_footer,
.bg-darkest,
.text-secondary,
.sticky-bottom,
.text-center,
.powered-by-tidycal-prefooter,
.py-1{
    display: none;
}
#boxbooking{
    display: block;
    width: 90%;
    height: 720px;
    overflow: hidden;
    margin: 50px auto;
}