@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    Takeda Wellbeing
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2023 xuedesign studio
* @version    v202307
*
**/

/*
=====================================
首頁列表
=====================================
*/
#list_events ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
#list_events li{
    display:block;
    margin: 0 1% 5%;
}
#list_events img{
    display: block;
    width: 70%;
    height: auto;
    margin: 0 auto;
    transition: transform 0.5s;
}
#list_events a:hover>img{
    transform: scale(1.1);
}