@charset "utf-8";
/*-- Created By
   ##############               ###############
    ##############             ###############
    ##############             ##############
     ##############           ##############
      ##############          #############
       #############         ##############
        #############       ##############
        ##############      #############
         ###############################
         ###############################
        #################################
        ##############     ##############
       ##############       ##############
       ##############        ##############
      ##############         #######
     ###############          ##############
     ##############           ###############
    ######
    ##############              ##############
   ##############               ##############

                 xuedesign studio
             https://www.xuedesign.tw/
*
* @project    Takeda Wellbeing website
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2023 xuedesign studio
* @version    v202309
*
**/

@media (max-width:1700px) {
h1 a{
    top:13%;
    left: 5%;
    width: 400px;
    height: 144px;
}
h2{
    top:15%;
    left: 10%;
    width: 90px;
    height: 31px;
}
#list_events li{
    display:block;
    width: 30%;
    margin: 0 0 5%;
}
#list_events img{
    width: 80%;
    height: auto
}
#btn_group{
    width: 60%;
}
.form_AugYoga{
    margin-bottom: 100px;
}
.form_SepPicnic{
    margin-bottom: 250px;
}
.box_eventInfo p,
.box_eventInfo li{
    font-size:2.5rem;
    line-height:4.5rem
}
.comsoon{
    width: 50%;
}
.box_preview img{
    width: 45%;
    height: auto;
    margin: 0 0 20px 80px;
}
#container-page-sep{ 
    padding-bottom: 800px;}
}
.info_subitem{
    font-size: 2.3rem;
}

@media (max-width:1400px) {
    .info_subitem{
        font-size: 2.2rem;
    }
}

@media (max-width:1300px) {
.box_showpicc{
    margin: 70px auto 20px auto;
}
.minHeight{ 
    min-height:500px
}
#container-page-sep{ 
    padding-bottom: 700px;}
.info_subitem{
    font-size: 2.3rem;
}
.info_subitem .title_brake{
    display: block;
    padding-top: 10px;
}
}


/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
h1 a{
    top:13%;
    left: 5%;
    width: 300px;
    height: 108px;
}
h2{
    top:15%;
    left: 11%;
    width: 70px;
    height: 24px;
}
#btn_group{
    width: 70%;
}
.form_feedback{
    height: 1475px;
}
.form_AugYoga{
    margin-bottom: 0;
}
.form_SepPicnic{
    margin-bottom: 50px;
}
.box_showpicc{
    margin: 70px auto 0 auto;
}
.note_red{
    width: 240px;
    font-size:2rem;
}
.info_item{
    display: block;
    width: 90%;
}
.photos_item img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 50px 0;
    vertical-align: top;
}
.minHeight{ 
    min-height:300px
}
.box_preview p{
    padding-top: 0;
}
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
h1 a{
    top:6%;
    left: 5%;
    width: 300px;
    height: 108px;
}
h2{
    top:7%;
    left: 12%;
    width: 70px;
    height: 24px;
}
#container,
#container-page{
    padding-bottom: 300px;
}
#container-page-sep{
    padding-bottom: 450px;
}
.bar_title,
.bar_title-s{
    top:-13px;
    left: 30px;
    font-size: 2.5rem;
    line-height: 15px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.bar_title{
    width: 300px;
    height: 37px;
}
.bar_title-s{
    width: 236px;
    height: 37px;
}
.form_feedback,
.form_AugYoga,
.form_SepPicnic{
    padding-top: 30px
}
.form_feedback{
    height: 1446px;
}
.form_AugYoga{
    height: 1100px;
    margin-bottom: 60px;
}
.form_SepPicnic{
    margin-bottom: 150px;
}
#btn_group{
    width: 80%;
}
.mybtn{
    margin: 0 15px;
}
.box_showpicc{
    width: 80%;
    margin: 70px auto -20px auto;
}
.box_eventInfo h4{
    font-size: 3rem;
    line-height: 4rem;
    margin: 20px 0;
}
.box_eventInfo p,
.box_eventInfo li{
    font-size:2.4rem;
    line-height:4.5rem;
}
.box_eventInfo li span,
.box_eventInfo h5{
    font-size: 2.5rem;
}
.comsoon{
    width: 70%;
    font-size: 2rem;
}
.photos_item{
    padding: 50px 0 100px;
}
#box_gallery{
    padding: 0 0 50px ;
}
#box_gallery img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 50px
}
.minHeight{
    min-height:500px
}
.box_preview img{
    display: block;
    float: none;
    width: 100%;
    height: auto;
    margin: 0 0 30px 0;
}
.info_subitem{
    display: block;
    width: 90%;
    margin: 0 auto;
}
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
h1 a{
    top:6%;
    left: 5%;
    width: 300px;
    height: 108px;
}
h2{
    top:7%;
    left: 13%;
    width: 70px;
    height: 24px;
}
.form_feedback{
    height: 1508px;
}
.form_AugYoga{
    height: 1140px;
    margin-bottom: 0;
}
.form_SepPicnic{
    height: 1950px;
    margin-bottom: 0;
}
#btn_group{
    width: 90%;
}
.mybtn{
    margin: 0
}
.box_showpicc{
    width: 80%;
    margin: 70px auto -40px auto;
}
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
h1 a{
    top:5%;
    left: 5%;
    width: 180px;
    height: 65px;
}
h2{
    top:5%;
    left: 13%;
    width: 50px;
    height: 17px;
}
#container,
#container-page,
#container-page-sep{
    width: 90%;
    margin: 60px auto;
    padding-top: 30px;
}
#container,
#container-page{
    padding-bottom: 200px;
}
#container-page-sep{
    padding-bottom: 250px;
}
#list_events h3{
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 30px;
}
#list_events li{
    display:block;
    width: 45%;
    margin: 0 0 7%;
}
#list_events img{
    width: 80%;
    height: auto
}
.bar_title,
.bar_title-s{
    top:-13px;
    left: 10px;
    font-size: 1.8rem;
    line-height: 15px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.bar_title{
    width: 300px;
    height: 37px;
}
.bar_title-s{
    width: 190px;
    height: 30px;
}
.form_feedback,
.form_AugYoga,
.form_SepPicnic{
    width: 100%;
    padding-top: 20px;
}
.form_feedback{
    height: 1478px;
}
.form_AugYoga{
    height: 1110px;
    margin-bottom: 60px;
}
.form_SepPicnic{
    height: 1780px;
    margin-bottom: 0;
}
#flatbox{
    bottom: 20px;
}
#btn_group{
    width: 93%;
    background: rgba(108, 108, 108, 0.3);
}
.mybtn{
    width: 105px;
    height: 35px;
    letter-spacing: 1px;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 2% 1% ;
}
.box_showpicc{
    width: 80%;
    margin: 50px auto -40px auto;
}
.box_eventInfo{
    width: 95%;
    margin: 0 auto;
    padding: 10px 0 20px;
}
.box_eventInfo h4{
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 10px 0;
}
.box_eventInfo p,
.box_eventInfo li{
    font-size:1.6rem;
    line-height:2.6rem;
}
.box_eventInfo p{
    padding-right: 10px;
    padding-bottom: 10px;
}
.box_eventInfo ul,
.box_eventInfo ol{
    padding-left: 40px;
    padding-right: 10px;
}
.box_eventInfo ul li{
    list-style: disc;
}
.box_eventInfo li span,
.box_eventInfo h5{
    font-size: 1.6rem;
}
.box_eventInfo img{
    margin: 0 auto 15px auto;
}
.img-w90,
.img-w60{
    width: 90%;
}
.note_red{
    display: block;
    float:none;
    width: 200px;
    font-size:1.6rem;
    margin:50px auto -20px auto;
}
.signup_end{
    display: block;
    float:none;
    font-size:1.6rem;
    width: 200px;
    text-align: center;
    margin:30px auto -20px auto;
}
.comsoon{
    width: 80%;
    font-size: 1.8rem;
}
.minHeight{ 
    min-height:200px
}
.box_preview p{
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.box_eventInfo span.txt_short{
    font-size: 1.6rem;
    text-align: left;
}
.box_eventInfo .txt_short2{
    display: inline;
    font-size: 1.6rem;
    text-align: left;
    margin-left: 0;
}
.time_subpinkred{
    padding: 0 10px;
    margin: 0 15px 10px 0;
}
.title_pinkred{
    border-radius: 40px;
    padding: 10px 20px;
}
hr.line_pinkred{
    border:2px dashed #c62253;
    width: 90%;
    margin: 10px auto;
}
.info_subitem{
    width: 100%;
    font-size: 1.6rem;
    font-weight:700;
    letter-spacing: 1px;
}
.info_subitem img{
    margin-top: 15px;
}
}
/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 380px) { /*300*/
.form_feedback{
    height: 1498px;
}
.form_AugYoga{
    height: 1155px;
    margin-bottom: 0;
}
}