@charset "utf-8";
/*-- Created By
   ##############               ###############   
    ##############             ###############    
    ##############             ##############     
     ##############           ##############      
      ##############          #############       
       #############         ##############       
        #############       ##############        
        ##############      #############         
         ###############################          
         ###############################          
        #################################         
        ##############     ##############         
       ##############       ##############        
       ##############        ##############       
      ##############         #######           
     ###############          ##############      
     ##############           ###############     
    ######      
    ##############              ##############    
   ##############               ##############
          
                 xuedesign studio 
             https://www.xuedesign.tw/
*
* @project    Takeda Wellbeing
* @Author     ElmoXL <hello@xuedesign.tw>
* @copyright  2023 xuedesign studio
* @version    v202307
*
**/

@media (max-width:1700px) {
h1 a{
    top:13%;
    left: 5%;
    width: 400px;
    height: 144px;
}
h2{
    top:15%;
    left: 10%;
    width: 90px;
    height: 31px;
}
#list_events li{
    display:block;
    width: 30%;
    margin: 0 0 5%;
}
#list_events img{
    width: 80%;
    height: auto
}
}

@media (max-width:1400px) {

}

@media (max-width:1300px) {

}

/*
=====================================
平板裝置(寬>長)  for-tablet-landscape-up
=====================================
*/
@media (max-width:1110px) { /*1000*/
h1 a{
    top:13%;
    left: 5%;
    width: 300px;
    height: 108px;
}
h2{
    top:15%;
    left: 11%;
    width: 70px;
    height: 24px;
}
}

/*
=====================================
平板裝置(長>寬) for-tablet-portrait-up
=====================================
*/
@media (max-width:800px) { /*750*/
h1 a{
    top:6%;
    left: 5%;
    width: 300px;
    height: 108px;
}
h2{
    top:7%;
    left: 12%;
    width: 70px;
    height: 24px;
}
#container{
    padding-bottom: 300px;
}
}

/*
=====================================
平板裝置(7"~8"小平板) for-SnmallTablet
=====================================
*/
@media (max-width: 600px) { /*573*/
h1 a{
    top:6%;
    left: 5%;
    width: 300px;
    height: 108px;
}
h2{
    top:7%;
    left: 13%;
    width: 70px;
    height: 24px;
}
}

/*
=====================================
手機(5"以上大螢幕) for-phone-only
=====================================
*/
@media (max-width: 420px) { /*360*/
h1 a{
    top:5%;
    left: 5%;
    width: 180px;
    height: 65px;
}
h2{
    top:5%;
    left: 13%;
    width: 50px;
    height: 17px;
}
#container{
    width: 90%;
    margin: 60px auto;
    padding-bottom: 200px;
}
#list_events li{
    display:block;
    width: 45%;
    margin: 0 0 7%;
}
#list_events img{
    width: 80%;
    height: auto
}
}

/*
=====================================
手機(4.7"以下小螢幕) for-phone-only
=====================================
*/
@media (max-width: 321px) { /*300*/

}